<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>Movies</h3>
      <div class="row" style="margin-left: 10px">
        <form id="searchForm" class="form-horizontal" method="GET" action="/movies">
          <div class="form-group col-sm-4">
            <input type="text"
                   class="form-control"
                   id="searchTitle"
                   name="title"
                   value="<%= searchOptions.title %>"
                   placeholder="Title">
          </div>
          <div class="form-group col-sm-4">
            <input type="text"
                   class="form-control"
                   id="searchGenre"
                   name="genre"
                   value="<%= searchOptions.genre %>"
                   placeholder="Genre">
          </div>
          <div class="form-group col-sm-4">
            <button type="submit" class="btn btn-default">Search</button>
            <a class="btn btn-default" href="/movies">Clear</a>
          </div>
        </form>
      </div>

      <% movies.forEach(function(movie) { %>
        <h4>
          <form method="POST" action="/movies/<%= movie._id %>?_method=DELETE">
            <a href="/movies/<%= movie._id %>">
              <%= movie.title %> - <%= movie.genre %> - <%= movie.year %>
            </a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
      <% }) %>
    </div>
    <a href="/movies/new" class="btn btn-primary">New</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
